<div class="container">
    <h1>Projects</h1>
    <div class="loader" [hidden]="membersLoaded && progressChartLoaded && timelineLoaded"></div>
    <!-- Members -->
    <div class="row">
        <!-- Members Container-->
        <div class="members-container" [hidden]="!membersLoaded" [ngClass]="{'fadeIn': membersLoaded}">
            <div class="container-header">
                <h4>Members</h4>
                <span class="view-all" data-toggle="modal" data-target="#memberModal">View All</span>    
            </div>
            <div class="all-members" *ngIf="membersLoaded">
                <div class="member" *ngFor="let mem of member | slice:0:3">
                    <span class="avatar"><img [src]="mem.avatar_url"/></span>
                    <span class="name">{{mem.fname}} {{mem.lname}}<br/><span class="job-title">{{mem.job_title}}</span></span>
                    
                    <span class="hours"><strong>{{mem.completed_hours}}h</strong>:{{mem.total_hours}}h</span>
                    <div class="progress-container">
                        <circle-progress 
                            [percent]="mem.completed_hours/mem.total_hours*100"
                            [radius]="25"
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5"
                            [space]="-5"
                            [outerStrokeColor]="'#2f1d95'"
                            [innerStrokeColor]="'#cfcaea'"
                            [animation]="true"
                            [animationDuration]="300"
                            [showTitle]="true"
                            [showSubtitle]="false"
                            [showUnits]="true"
                            [outerStrokeLinecap]="'square'">
                        </circle-progress>
                    </div>
                </div>    
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content member-modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="memberModalTitle">Members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="all-members">
                        <div class="member" *ngFor="let member of member">
                            <span class="avatar"><img [src]="member.avatar_url"/></span>
                            <span class="name">{{member.fname}} {{member.lname}}<br/><span class="job-title">{{member.job_title}}</span></span>
                            
                            <span class="hours"><strong>{{member.completed_hours}}h</strong>:{{member.total_hours}}h</span>
                            <div class="progress-container">
                                <circle-progress 
                                    [percent]="member.completed_hours/member.total_hours*100"
                                    [radius]="25"
                                    [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="5"
                                    [space]="-5"
                                    [outerStrokeColor]="'#2f1d95'"
                                    [innerStrokeColor]="'#cfcaea'"
                                    [animation]="true"
                                    [animationDuration]="300"
                                    [showTitle]="true"
                                    [showSubtitle]="false"
                                    [showUnits]="true"
                                    [outerStrokeLinecap]="'square'">
                                </circle-progress>
                            </div>
                        </div>    
                    </div>    

                </div>
            </div>
            </div>
        </div>
        <!-- Summary -->
        <div class="summary-container" [hidden]="!progressChartLoaded" [ngClass]="{'fadeIn': progressChartLoaded}">
            <h4>Summary</h4>
            <!-- Line Chart canvas -->
            <div class="progress-canvas">
                <canvas #progressCanvas height="100%">{{ progressChart }}</canvas>
            </div>
        </div>
        <!-- Timeline -->
        <div class="timeline-container" [hidden]="!timelineLoaded" [ngClass]="{'fadeIn': timelineLoaded}">
            <h4>Timeline</h4>
            <div class="timeline-scheduler">
                <ngx-ts
                [items]="items"
                [periods]="periods"
                [sections]="sections"
                [events]="events"
                [showBusinessDayOnly]="true"
                [showGoto]="false"
                [showToday]="false"
                [text]="textObj"
                [allowDragging]="true"
                ></ngx-ts>
            </div>
        </div>

    </div>
</div>
