/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(245, 246, 250); }
.in-progress {
    color: gold;
}
.on-hold {
    color: red;
}
.complete {
    color: green;
}

//Override btn class for timeline scheduler 
.timeline-btn {
    height: initial !important;
}
td.text-center {
    background-color: #f4f3f8;
}
.item-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
.item-warning {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}